# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Gattlib ignores
bms-jbdtools/gattlib/build
bms-jbdtools/gattlib/__pycache__

# paho.mqtt.c ignores
bms-jbdtools/paho.mqtt.c/dep/
bms-jbdtools/paho.mqtt.c/build/
bms-jbdtools/paho.mqtt.c/build.paho/
bms-jbdtools/paho.mqtt.c/*.swp
bms-jbdtools/paho.mqtt.c/*.pyc
bms-jbdtools/paho.mqtt.c/build.paho